body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

.App {
  margin:auto;
  padding: 0;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  /* change width later */
  min-width: 500px;
  background-color: white;
  border: 1px solid black;
  max-width: 300px;
}